/* WHITE */
%color-white {
	color:#fff;
}
%bg-white {
	background:#fff;
}
%fill-white {
	fill:#fff;
}

/* BLACK */
%color-black {
	color:#000;
}
%bg-black {
	background:#000;
}
%fill-black {
	fill: #000;
}

/* OFF WHITE */
%color-off-white {
	color: $off-white;
}
%color-off-black {
	color: $off-black;
}

/* OFF BLACK */
%bg-off-white {
	background: $off-white;
}
%bg-off-black {
	background: $off-black;
}

/* GREY */
%color-grey {
	color: $grey;
}
%bg-grey {
	background: $grey;
}
%fill-grey {
	fill: $grey;
}

/* LIGHT GREY */
%color-light-grey {
	color: $light-grey;
}
%bg-light-grey {
	background: $light-grey;
}
%fill-light-grey {
	fill: $light-grey;
}

/* DARK GREY */
%color-dark-grey {
	color: $dark-grey;
}
%bg-dark-grey {
	background: $dark-grey;
}
%fill-dark-grey {
	fill: $dark-grey;
}

/* BRAND PRIMARY */
%color-brand-primary {
	color: $brand-primary;
}
%bg-brand-primary {
	background: $brand-primary;
}
%fill-brand-primary {
	fill: $brand-primary;
}

/* BRAND PRIMARY LIGHT */
%color-brand-primary-light {
	color: $brand-primary-light;
}
%bg-brand-primary-light {
	background: $brand-primary-light;
}
%fill-brand-primary-light {
	fill: $brand-primary-light;
}