/* CURSORS */
%cursor-pointer {
	cursor: pointer;
}
%cursor-progress {
	cursor: progress;
}
%cursor-copy {
	cursor: copy;
}
%cursor-disabled {
	cursor: not-allowed;
}
%cursor-text {
	cursor: text;
}
%cursor-default {
	cursor: default;
}