/* LIST STYLES */
%list-style-none {
	list-style: none;
}
%list-style-bullet {
	list-style-type: disc;
}
%list-style-empty-bullet {
	list-style-type: circle;
}
%list-style-numbers {
	list-style-type:decimal-leading-zero;
}
