/* MARGINS */
%margin-center {
	margin: 0 auto;
}
%no-margin {
	margin: 0;
}
%mini-margin-bottom {
	margin-bottom: 4px;
}
%small-margin-bottom {
	margin-bottom: 8px;
}
%medium-margin-bottom {
	margin-bottom: 17px;
}
%large-margin-bottom {
	margin-bottom: 30px;
}