/* PADDINGS */
%no-padding {
	padding: 0;
}
%mini-padding-bottom {
	padding-bottom: 4px;
}
%small-padding-bottom {
	padding-bottom: 8px;
}
%medium-padding-bottom {
	padding-bottom: 17px;
}
%large-padding-bottom {
	padding-bottom: 30px;
}