/* FLOATS */
%float-left {
	float: left;
}
%float-right {
	float: right;
}
%float-none {
	float: none;
}
%clear-both {
	clear: both;
}

/* POSITIONS */
%absolute {
	position: absolute;
}
%fixed {
	position: fixed;
}
%relative {
	position: relative;
}
%top-0 {
	top:0;
}
%top-50 {
	top:50%;
}
%bottom-0 {
	bottom: 0;
}
%left-0 {
	left: 0;
}
%right-0 {
	right: 0;
}
%left-50 {
	left: 50%;
}

/* WIDTH AND HEIGHTS */
%full-width {
	width: 100%;
}
%full-height {
	height: 100%;
}
%width-50 {
	width: 50%;
}
%width-0 {
	width: 0;
}
%width-auto {
	width: auto;
}
%height-auto {
	height: auto;
}
