html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #e5e5e5;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
}

*,:after,:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after,.clearfix:before {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.no-select {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.clear {
    width: 100%;
    height: 0px;
    float: left;
}

html,body,input,label,button,textarea {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    color: #1e2629;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

pre,code {
    font-family: "menlo", Consolas, "Liberation Mono", Courier, monospace;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
}

strong {
    font-weight: 900;
}

em,i {
    font-style: italic;
}

a {
    text-decoration: none;
    outline: none;
    color: #62c4b6;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 900;
    letter-spacing: -0.1px;
}

h1 {
    font-size: 55px;
    letter-spacing: -0.2rem;
}

h2 {
    font-size: 42px;
    letter-spacing: -0.15rem;
}

h3 {
    font-size: 38px;
    letter-spacing: -0.13rem;
}

h4 {
    font-size: 34px;
    letter-spacing: -0.1rem;
}

h5 {
    font-size: 30px;
    letter-spacing: -0.09rem;
}

h6 {
    font-size: 25px;
    letter-spacing: -0.08rem;
}

svg {
    width: 14px;
    height: 14px;
}
p a {
    text-decoration: underline;
}
.info {
    font-size: 12px;
    margin-bottom: 12px;
    line-height: 17px;
}
#wrapper > .site-container {
    padding: 40px 0;
}