@media only screen and (max-width: 1279px) {
    .CodeMirror {
        max-width: 860px;
        font-size: 15px;
    }
    #wrapper>.site-container {
    	padding-left: 10px;
    	padding-right: 10px;
    }
}

@media only screen and (max-width: 1069px) {
    .CodeMirror {
        max-width: 740px;
        font-size: 13px;
    }
	table.responsive, table.responsive thead, table.responsive tbody, table.responsive th, table.responsive td, table.responsive tr { 
		display: block; 
	}
	.posts-list  table.responsive tbody {
		display: none;
	}
	.posts-list  table.responsive tbody.active {
		display: block;
	}
	.posts-list table .title {
		max-width: 1069px;
	}
	table.responsive thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	table.responsive tr { 
		border: 1px solid #ccc;
		border-top: none; 
	}
	table.responsive tbody tr:first-of-type {
		border-top: 1px solid #ccc;
	}
	table.responsive td { 
		border: none;
		border-bottom: 1px solid #EAEAEA;
		position: relative;
		padding-left: 50%;
		text-align: center;
	}
	table.responsive td:before { 
		position: absolute;
		left: 6px;
		width: 45%;
		white-space: nowrap;
	}
	table.responsive > tbody > tr > td:before {
		font-weight: bold;
		color: #61676d;
		content: attr(data-responsive-label);
	}
	body.writing .header .right {
		padding-right: 45px;
	}
	.writer-footer .view-toggles {
		  width: 25%;
	}
	.writer-footer .writer-powers {
		width: 75%;
	}
}

@media only screen and (max-width: 800px) {
	.header .left li {
		display: none; 
	}
	.header .left li.logo {
		display: inline-block;
	}
}

@media only screen and (max-width: 739px) {
	body.writing #wrapper > .site-container {
		max-width: 100% !important;
  		width: 100%  !important;
	  	min-width: 100%  !important;
	}
	body.writing .header .site-container {
		max-width: 100% !important;
  		width: 100%  !important;
	  	min-width: 100%  !important;
	}
    .CodeMirror {
        width: 100%;
  		max-width: 100%;
    }
    .writer {
    	padding: 27px 20px;
    }
    .writer-footer .writer-powers {
		display: none;
	}
	.writer-footer .view-toggles {
		width: 100%;
		text-align: center;
	}
}
@media only screen and (max-width: 640px) {
	.hide-header {
		position: absolute;
	}
}


