/* ACCOUNT SETUP */
.setup-panel {
    @extend %absolute;
    @extend %left-50;
    @extend %top-50;
    width: 500px;
    min-width: 500px;
    max-width: 500px;
    margin-left: -250px;
    margin-top: -250px;
}

.setup-panel .logo-wrap {
    @extend %margin-center;
    @extend %text-center;
}

.setup-panel .logo-wrap svg {
    width: 100px;
    height: 100px;
}

.setup-panel .button.submit {
    @extend %full-width;
}

.setup-panel .message p {
    @extend %font-size-13;
    line-height: 17px;
}

.setup-panel .message .message-body {
    padding: 18px 14px 18px 14px;
}
