/*  MOBILE GRID */

/* Tablet (Generic) */
@media only screen and (max-width: 859px) {
   
    .tablet-show {
        display: block
    }
    
    .tablet-hide {
        display: none;
    }

    .tablet-left {
        float: left;
    }
    
    .tablet-right {
        float: right;
    }
    
    .tablet-row:before,.tablet-row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .tablet-col {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .tablet-col.centered {
        float: none;
        margin: 0 auto;
    }

    .tablet-row {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .tablet-no-gutter {
        padding-left: 0;
        padding-right: 0;
    }

    .tablet-no-roof {
        padding-top: 0;
    }

    .tablet-no-floor {
        padding-bottom: 0;
    }

    .tablet-no-roof-or-floor {
        padding-top: 0;
        padding-bottom: 0;
    }

    .tablet-right-gutter {
        padding-left: 0;
    }

    .tablet-left-gutter {
        padding-right: 0;
    }

    .tablet-bottom-gutter {
        padding-top: 0;
    }

    .tablet-top-gutter {
        padding-bottom: 0;
    }

    .tablet-large-V-gutter {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .tablet-col-1-5 {
        width: 12.5%;
    }

    .tablet-col-1 {
        width: 8.33333%;
    }

    .tablet-col-2 {
        width: 16.66667%;
    }

    .tablet-col-3 {
        width: 25%;
    }

    .tablet-col-4 {
        width: 33.33333%;
    }

    .tablet-col-5 {
        width: 41.66665%;
    }

    .tablet-col-6 {
        width: 50%;
    }

    .tablet-col-7 {
        width: 58.33333%;
    }

    .tablet-col-8 {
        width: 66.66666%;
    }

    .tablet-col-9 {
        width: 75%;
    }

    .tablet-col-10 {
        width: 83.33333%;
    }

    .tablet-col-11 {
        width: 91.66666%;
    }

    .tablet-col-12 {
        width: 100%;
    }
}

/* Mobile (Generic) */
@media only screen and (max-width: 640px) {
    .mobile-show {
        display: block
    }

    .mobile-hide {
        display: none;
    }

    .mobile-left {
        float: left;
    }

    .mobile-right {
        float: right;
    }

    .mobile-row:before,.mobile-row:after {
        content: "";
        display: table;
        clear: both;
    }

    .mobile-col {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobile-col.centered {
        float: none;
        margin: 0 auto;
    }

    .mobile-row {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .mobile-no-gutter {
        padding-left: 0;
        padding-right: 0;
    }

    .mobile-no-roof {
        padding-top: 0;
    }

    .mobile-no-floor {
        padding-bottom: 0;
    }

    .mobile-no-roof-or-floor {
        padding-top: 0;
        padding-bottom: 0;
    }

    .mobile-right-gutter {
        padding-left: 0;
    }

    .mobile-left-gutter {
        padding-right: 0;
    }

    .mobile-bottom-gutter {
        padding-top: 0;
    }

    .mobile-top-gutter {
        padding-bottom: 0;
    }

    .mobile-large-V-gutter {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .mobile-col-1-5 {
        width: 12.5%;
    }

    .mobile-col-1 {
        width: 8.33333%;
    }

    .mobile-col-2 {
        width: 16.66667%;
    }

    .mobile-col-3 {
        width: 25%;
    }

    .mobile-col-4 {
        width: 33.33333%;
    }

    .mobile-col-5 {
        width: 41.66665%;
    }

    .mobile-col-6 {
        width: 50%;
    }

    .mobile-col-7 {
        width: 58.33333%;
    }

    .mobile-col-8 {
        width: 66.66666%;
    }

    .mobile-col-9 {
        width: 75%;
    }

    .mobile-col-10 {
        width: 83.33333%;
    }

    .mobile-col-11 {
        width: 91.66666%;
    }

    .mobile-col-12 {
        width: 100%;
    }
}
