/* COMMENTS */
.comments-table {
	border-collapse: separate;
    border-spacing: 0 2px;
}
.comment:hover td {
	-webkit-box-shadow: inset 3px 0px 0px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 3px 0px 0px 0px rgba(0,0,0,0.2);
	box-shadow: inset 3px 0px 0px 0px rgba(0,0,0,0.2);
}

.comment.approved:hover {
	background: rgba(165, 220, 134, 0.2);
}
.comment.pending:hover {
	background: rgba(253, 208, 114, 0.2);
}
.comment.spam:hover {
	background: rgba(246, 110, 110, 0.2);
}
.comment.deleted:hover {
	background: rgba(246, 110, 110, 0.2);
}

.comment {
	@extend %cursor-pointer;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	-webkit-transition: background 0.2s ease;
	transition: background 0.2s ease;
	margin-bottom: 2px solid #fff;
}
.comment > td {
	@extend %relative;
    @extend %hide-overflow;
    zoom: 1;
    padding: 14px 0 2px !important;
    border: none !important;
}

.comment .title {
	@extend %text-ellipsis;
	@extend %font-size-13;
	@extend %demi-bold;
    margin-left: 35px;
    margin-bottom: 0.5em;
}
.comment .avatar {
    @extend %float-left;
    margin: 0 10px 0 35px;
}
.comment .avatar img {
	@extend %mini-border-radius;
    height: 32px;
    width: 32px;
}
.comment .comment-body {
	@extend %relative;
    margin: 0 10px 0 0;
    padding: 0 0 0 35px;
}
.comment .comment-meta {
	@extend %font-size-12;
    margin-bottom: 3px;
}

.comment .comment-name {
    @extend %bold;
}

.comment .bullet {
    color: #888;
    padding: 0 5px;
}
.comment .comment-body .comment-actions {
	@extend %hide-overflow;
	@extend %opacity-hide;
	@extend %ease-mini;
    margin: 0 0 0 -1px;
    zoom: 1;
    padding: 10px 0 4px 0;
}
.comment:hover .comment-body .comment-actions {
	@extend %opacity-show;
}
.comment .comment-body .comment-actions li {
    margin: 0 12px 0 0;
    @extend %float-left;
    @extend %font-size-11;
}
.comment .comment-body .comment-actions li a {
	@extend %relative;
	@extend %color-grey;
	padding: 0 0 0 22px;
}
.comment .comment-body .comment-actions li a svg {
	@extend %absolute;
	@extend %left-0;
	@extend %fill-grey;
	top: -1px;
}
.comment .comment-body .comment-actions li a:hover {
	@extend %color-brand-primary;
}
.comment .comment-body .comment-actions li a:hover svg {
	@extend %fill-brand-primary;
}
.comment .comment-body .comment-actions li.disabled a,
.comment .comment-body .comment-actions li.disabled a:hover {
	@extend %cursor-default;
	@extend %no-text-decoration;
	color: #D5D5D5 !important;
}
.comment .comment-body .comment-actions li.disabled a svg,
.comment .comment-body .comment-actions li.disabled a:hover svg {
	fill: #D5D5D5 !important;
}

.comment .comment-body .check-wrap {
    @extend %block;
    @extend %absolute;
    @extend %left-0;
    @extend %width-auto;
    top: -29px;
    padding: 10px 10px 30px 10px;
}
.comment .comment-body .check-wrap label {
	@extend %no-margin;
}
.comment .comment-body .more,
.comment .comment-body .less {
	@extend %font-size-11;
	padding: 0 5px;
}
.comment .comment-body .item-preview,
.comment .comment-body .item-full {
	padding: 10px 0;
	line-height: 19px;
}
.comment .comment-actions .delete:hover a svg,
.comment .comment-actions .delete a:hover svg {
    fill: #F36B5C !important;
}
.comment .comment-actions .delete:hover a,
.comment .comment-actions .delete a:hover {
    color: #F36B5C !important;
}

.comment .comment-actions .spam:hover a svg,
.comment .comment-actions .spam a:hover svg {
    fill: #FDD072 !important;
}
.comment .comment-actions .spam:hover a,
.comment .comment-actions .spam a:hover {
    color: #FDD072 !important;
}


.comment .comment-actions .approve:hover a svg,
.comment .comment-actions .approve a:hover svg {
    fill: #A5DC86 !important;
}
.comment .comment-actions .approve:hover a,
.comment .comment-actions .approve a:hover {
    color: #A5DC86 !important;
}


/* Comment info */
.comment-extras {
   //border-left: 2px solid #d8d8d8;
}
.comment-extras .panel-header{
	padding: 0;
}
.comment-extras.active .default-view {
	@extend %no-display;
}
.comment-extras .default-view ul {
	margin-left: 20px;
    list-style: initial;
}
.comment-extras .comment-info {
	@extend %no-display;
	@extend %font-size-12;
	background: rgba(181,188,188,0.07);
	padding: 20px 10px;
}
.comment-extras.active .comment-info {
	@extend %block;
}
.comment-extras .comment-info .panel-header {
	@extend %relative;
}
.comment-extras .comment-info .panel-header .comment-status {
	@extend %block;
	@extend %color-white;
	@extend %bold;
	@extend %mini-border-radius;
	width: 86%;
	padding: 10px 0 10px 16px;
    border-left: 5px solid rgba(0,0,0,0.2)
}
.comment-extras .comment-info .panel-header .close-comment-info {
	@extend %absolute;
	@extend %right-0;
	@extend %top-0;
    height: 32px;
    width: 32px;
    padding: 0;
}
.comment-extras .comment-info .panel-header .close-comment-info svg {
	top: 8px;
    left: 8px;
}
.comment-extras .comment-info .panel-header .comment-status.approved {
	background: #A5DC86;
}
.comment-extras .comment-info .panel-header .comment-status.pending {
	background: #FDD072;
}
.comment-extras .comment-info .panel-header .comment-status.spam  {
	background: #F66E6E;
}
.comment-extras .comment-info .panel-header .comment-status.deleted {
	background: #F66E6E;
}
.comment-extras .info-tray-actions .button-dropdown .button {
	text-indent: -999999px;
	height: 28px;
    width: 28px;
    padding: 0;
}
.comment-extras .info-tray-actions .button-dropdown .button svg {
	width: 14px;
    height: 14px;
    top: 8px;
    right: 6px;
}
.comment-extras .info-user-detail {
	@extend %relative;
}
.comment-extras .info-avatar {
	@extend %inline-block;
}
.comment-extras .name {
	@extend %absolute;
	@extend %inline-block;
	@extend %bold;
	top: 4px;
    left: 38px;
}
.comment-extras .email {
	padding: 5px 0;
	color: #b0b0b0;
	@extend %font-size-11;
}
.comment-extras .segmented-buttons {
	margin-right: 5px;
}
.comment-extras .info-tray-actions {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	padding: 18px 10px;
}
.comment-extras .comment-content {
	padding: 30px 10px;
	color: #61676d;
	@extend %font-size-14;
	line-height: 19px;
}
.comment-extras .rep-icon .good{
	@extend %no-display;
}
.comment-extras .rep-icon .bad{
	@extend %no-display;
}
.comment-extras .rep-icon .average{
	@extend %no-display;
}
.comment-extras .value {
	@extend %bold;
}

.comment-extras .rep-icon.good .good{
	@extend %inline-block;
}
.comment-extras .rep-icon.bad .bad{
	@extend %inline-block;
}
.comment-extras .rep-icon.average .average{
	@extend %inline-block;
}
.comment-extras .stat-block {
	@extend %relative;
	border-bottom: 1px solid #e5e5e5;
    height: 40px;
    line-height: 40px;
}
.comment-extras .stat-block.with-icon {
	padding-left: 35px;
}
.comment-extras .stat-block .icon {
	@extend %absolute;
	top: 12px;
    left: 10px;
    width: 16px;
    height: 16px;
}

.comment-extras .stat-block .unit {
	@extend %upper-case;
	@extend %font-size-9;
}
.comment-extras .stat-block .icon {
	fill: #b0b0b0;
} 
.comment-extras .stat-block .label {
	color: #b0b0b0;
	width: 87px;
	@extend %inline-block;
    @extend %font-size-11;
    @extend %bold;
}
.comment-edit-reply .post-reply,
.comment-edit-reply .save-edit,
.comment-edit-reply .cancel,
.comment-edit-reply {
	@extend %no-display;
}
.comment-edit-reply.edit,
.comment-edit-reply.reply {
	@extend %block;
}
.comment-edit-reply.reply .post-reply,
.comment-edit-reply.reply .cancel{
	@extend %inline-block;
}
.comment-edit-reply.edit .save-edit,
.comment-edit-reply.edit .cancel {
	@extend %inline-block;
}

.comment-extras .default-view ul{
	padding: 20px 0;
}
.comment-extras .default-view ul li {
	padding: 10px 0;
}

