/* HEADER */
.header {
    @extend %bold;
    @extend %font-size-13;
    @extend %full-width;
    @extend %color-off-white;
    background-color: #494E58;
}
.header .logo-plain {
    @extend %no-display;
}
.header .site-container {
    @extend %relative;
    @extend %no-padding;
    height: 62px;
}
.header ul {
    height: 62px;
}
.header li {
    @extend %hide-overflow;
    @extend %inline-block;
}
.header li a {
    @extend %block;
    @extend %color-off-white;
     -moz-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    height: 62px;
    line-height: 62px;
    padding: 0 15px;
    background-color: transparent;
}
.header li a:hover {
    color: #62c4b6;
    background-color: rgba(255,255,255,0.2);
}
.header .logo a,
.header .logo-plain a{
    padding-top: 12px;
}
.header .logo svg,
.header .logo-plain svg {
    width: 36px;
    height: 36px;
}



// Header dropdown
// Header dropdown
.header .drop-down {
    @extend %relative;
    @extend %show-overflow;
}
.header .drop-down .author-img {
    @extend %absolute;
    @extend %half-border-radius;
    left: 6px;
    top: 19px;
}
.header .drop-down .drop {
    @extend %absolute;
    @extend %right-0;
    @extend %hide-overflow;
    @extend %visibility-hide;
    @extend %z-index-4;
    width: 205px;
    top: 68px;
    min-height: 300px;
}
.header .drop-down.active .drop {
    @extend %visibility-show;
}
.header .drop-down a {
    @extend %relative;
    padding-right: 28px;
    padding-left: 35px;
}
.header .drop-down ul {
    @extend %absolute;
    @extend %top-0;
    @extend %right-0;
    @extend %mini-border-radius;
    @extend %opacity-hide;
    @extend %opacity-show;
    -webkit-transition: opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1),transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1),100ms;
    transition: opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1),transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 100ms;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    border: 1px solid #CBD0D5;
    width: 200px;
    height: auto;
    box-shadow: 0 3px 12px rgba(0,0,0,0.16);
}
.header .drop-down.active ul {
    -webkit-transition: opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 100ms,transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: opacity 400ms cubic-bezier(0.165, 0.84, 0.44, 1) 100ms,transform 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}
.header .drop-down ul li {
    @extend %block;
    @extend %full-width;
    border-bottom: 1px solid #F0F0F0;
}
.header .drop-down ul li a {
    @extend %block;
    @extend %bg-white;
    @extend %text-left;
    @extend %color-off-black;
    padding: 18px 14px;
    line-height: 15px;
    height: auto;
}
.header .drop-down a svg {
    @extend %absolute;
    fill: $off-white;
    width: 10px;
    height: 10px;
    top: 28px;
    right: 11px;
}
.header .drop-down a:hover svg {
    fill: #62c4b6;
}
.header .drop-down ul li a:hover {
    background-color: #F8F8F8;
}
.header .drop-down ul li:first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header .drop-down ul li:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: none;
}

