/* WRITER APPLICATION */

/* Page styles */
body.writing #footer {
    display: none;
}
body.writing #content {
    padding-top: 0;
}
.writer #writer,
.writer,
.reader,
.reviewer {
    display: none;
}
.writer.active,
.reader.active,
.reviewer.active {
    display: block;
}

/* Header */
body.writing .header {
    z-index: 999;
    position: fixed;
    top: 0;
    background: rgba(247, 247, 247, 0.91);
    color: #000;
}
body.writing .header .logo {
    display: none;
}
body.writing .header .logo-plain {
     display: inline-block;
}
body.writing .header li a {
    color: #000;
}
body.writing .header li a:hover {
    color: #62c4b6;
    background-color: rgba(150, 150, 150, 0.2);
}

body.writing .header .right > ul {
    display: inline-block;
}
body.writing .header {
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}
body.writing .header .drop-down ul li a {
    background: rgba(247, 247, 247, 0.91);
}


.show-header {
  z-index: 999;
  position: fixed;
  top: 24px;
  right: 15px;
}
.hide-header {
    position: fixed;
    top: 25px;
    right: 15px;
}


/* Writer */
html.writer-html {
    background: #F4F3F1;
}
body.writing.markdown {
    background: #f4f3f1;
    overflow: hidden;
}
body.writing.markdown #wrapper > .site-container {
    max-width: 1200px;
    min-width: 800px;
    padding:0;
}
body.writing.markdown #content .site-container {
    padding: 0;
}
.writer {
    padding: 27px 100px 27px 100px;
    width: 100%;
}

/* Reader */
html.reading,
html.reading body {
    background: #fff;
}
body.writing.HTML .site-container {
    min-width: 740px !important;
}

/* Reviewer */
body.writing.review .site-container {
    min-width: 740px !important;
}

body.writing.HTML {
    background: #fff;
    height: 100% !important;
}
body.writing .header {
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
body.writing .header.active {
    transform: translateY(-62px);
    -webkit-transform: translateY(-62px);
}
.reviewer .panel {
    max-width: 980px;
}
.reviewer .label {
    margin-bottom: 12px;
}
.reviewer .row {
    margin-left: auto;
    margin-right: auto;
}
.reviewer .select-wrap {
    width: 80px;
}
/* Code Mirror */
.CodeMirror {
    font-family: "menlo", Consolas, "Liberation Mono", Courier, monospace;
    font-size: 18px;
    line-height: 28px;
    overflow: hidden;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

/* Writer Footer buttons */
.writer-footer {
    position: fixed;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #aba8a6;
    background: #F4F3F1;
    z-index: 99;
    line-height: 8px;
}
.writer-footer.active {
    opacity:1;
}

.writer-footer button {
    border: none;
    background: transparent;
    text-decoration: none;
    color: #aba8a6;
}
.writer-footer svg {
    width: 10px;
    height: 10px;
    fill:#aba8a6;
}
.writer-footer button:hover {
    color: $brand-primary;
}
.writer-footer button:hover svg {
    fill: $brand-primary;
}
.writer-footer .view-toggles {
    border-right: 1px solid #aba8a6;
    line-height: 27px;
}
.writer-footer .view-toggles button {
    padding: 6px 10px;
}
.writer-footer .view-toggles svg {
    height: 14px;
    width: 14px;
}
.writer-footer .view-toggles button.active {
    background: rgba(0, 0, 0, 0.07);
}
.writer-footer .view-toggles button.active svg {
    fill: $brand-primary;
}
.writer-footer .view-toggles .save-button.active {
    background: none;
}
.writer-footer .view-toggles .save-button.active svg {
  fill: #f39c12;
}

.writer-footer .writer-powers {
    padding: 5px 0;
}
body.writing.HTML .writer-footer .writer-powers,
body.writing.review .writer-footer .writer-powers {
    display: none;
}



