/* BUTTONS */
.button {
    @extend %bold;
    @extend %relative;
    @extend %mini-border-radius;
    @extend %color-off-black;
    @extend %font-size-13;
    @extend %ease-mini;
    line-height: 29px;
    padding: 7px 18px;
    border: 1px solid #BDC3CA;
    background-color: #FAFBFB;
    box-shadow: 0 1px 0 rgba(153,156,160,0.17);
}
.button:hover {
    @extend %bg-white;
    border: 1px solid #B2B2B2;
    box-shadow: 0 1px 0 rgba(153,156,160,0.24);
}
.button:active,
.button.active {
    background-color: #FAFBFB;
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}
.button.disabled,
.button:disabled {
    @extend %no-box-shadow;
    @extend %cursor-default;
    opacity: 0.5;
    border-color: #DBDBDB;
}
.button svg {
    fill: #61676D;
}
// Small buttons
.button.small {
    @extend %font-size-11;
    line-height: 16px;
    padding: 5px 10px;
}

// button only icon
.button.mini-icon {
    padding: 6px 20px;
}
.button.mini-icon svg {
    @extend %absolute;
    top: 7px;
    left: 13px;
}
.button.mini-icon.disabled svg {
    fill: #C9C6C6;
}
.button.mini-icon .spinner1,
.button.mini-icon .spinner2 {
    height: 22px;
    width: 22px;
    margin: -11px 0 0 0;
    left: 9px;
}

.button.mini-icon.active svg {
    @extend %opacity-hide;

}

// Submit button
.button.submit {
    @extend %color-white;
    @extend %bg-brand-primary;
    border-color: $brand-primary;
}
.button.submit:hover {
    @extend %bg-brand-primary-light;
    border-color: $brand-primary-light;
    border-bottom-color: #159E8A;
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.18);
}
.button.submit.active,
.button.submit:active {
    @extend %color-white;
    @extend %bg-brand-primary;
}
.button.submit svg {
    @extend %fill-white;
}

// link buttons 
a.button.submit {
    padding: 12px 20px;
}

// Red button
.button.red {
    @extend %color-white;
}
.button.red,
.button.submit.red  {
    background: #F36B5C;
    border-color: #F36B5C;
    @extend %no-box-shadow;
}
.button.red:hover,
.button.submit.red:hover {
    border-color: #F36B5C;
    border-bottom: 1px solid rgba(0,0,0,0.17);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.18);
    background-color: #EA6052;
}
.button.red:active,
.button.red.active {
    background: #F36B5C;
    border-color: #F36B5C;
}
.button.red svg {
    @extend %fill-white;
}

// file upload button
.button.file-input input {
    @extend %block;
    @extend %absolute;
    @extend %top-0;
    @extend %left-0;
    @extend %opacity-hide;
    @extend %full-height;
    @extend %full-width;
    text-indent: -99999px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

// Button spinners
.button .spinner1,
.button .spinner2 {
    @extend %no-display;
}
.button.active .spinner1,
.button.active .spinner2 {
    @extend %inline-block;
}
.button .spinner1 {
    @extend %absolute;
    @extend %left-50;
    @extend %top-50;
    left: 20px;
    margin: -16px 0 0 0;
}
.button  .spinner2 {
    @extend %absolute;
    @extend %left-50;
    @extend %top-50;
    left: 20px;
    margin: -16px 0 0 0;
}
.button.with-spinner .spinner1, 
.button.with-spinner .spinner2 {
    left: 12px;
}
.button.with-spinner.active {
    @extend %ease-mini;
    padding-left: 55px;
}

// Segmented Buttons
.segmented-buttons {
    @extend %hide-overflow;
}
.segmented-buttons > li:first-child {
    margin: 0;
}
.segmented-buttons li {
    @extend %inline-block;
    @extend %float-left;
    min-width: 60px;
    margin: 0 0 0 -1px;
}
.segmented-buttons .button {
    @extend %text-center;
    @extend %block;
    @extend %no-border-radius;
    @extend %font-size-12;
    padding: 9px 10px;
    line-height: 8px;
}
.segmented-buttons .button.with-icon {
    padding: 9px 10px 9px 21px;
}
.segmented-buttons .button.with-icon svg {
    @extend %absolute;
    left: 3px;
    top: 6px;
}
.segmented-buttons .disabled .button,
.segmented-buttons .button.disabled  {
    @extend %no-box-shadow;
    @extend %cursor-default;
    opacity: 0.5;
    border-color: #DBDBDB;

}
.segmented-buttons > li:first-child .button {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.segmented-buttons > li:last-child .button {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}