/* DROPDOWNS */
.button-dropdown {
    @extend %relative;
    @extend %inline-block;
}
.button-dropdown .button {
    @extend %block;
    @extend %relative;
    padding: 1px 10px;
    padding-right: 31px;
}
.button-dropdown .drop {
    @extend %absolute;
    @extend %left-0;
    @extend %hide-overflow;
    @extend %visibility-hide;
    @extend %z-index-4;
    padding: 0px 7px 8px 0px;
    top: 40px;
    width: 160px;
}
.button-dropdown .button svg {
    @extend %absolute;
    top: 12px;
    right: 12px;
    width: 10px;
    height: 10px;
}
.button-dropdown .drop > div {
    @extend %opacity-hide;
    @extend %hide-overflow;
    @extend %full-width;
    @extend %visibility-hide;
    -webkit-transition: opacity 0.25s ease-out, transform 0.2s ease;
    transition: opacity 0.25s ease-out, transform 0.2s ease;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    border: 1px solid #CBD0D5;
    box-shadow: 0 3px 12px rgba(0,0,0,0.16);
    top: 40px;
    width: 160px;
}
.button-dropdown .drop a {
    @extend %ease-mini;
    @extend %block;
    @extend %bg-white;
    @extend %font-size-13;
    word-wrap: break-word;
    white-space: initial;
    color: #1e2629;
    padding: 9px 14px;
    line-height: 15px;
    border-bottom: 1px solid #F0F0F0;
}
.button-dropdown.active .drop a {
    @extend %bg-white;
    @extend %font-size-13;
    color: #1e2629;
}
.button-dropdown .drop a:hover {
    background-color: #F8F8F8;
}
.button-dropdown .drop a:last-of-type {
    border-bottom: none;
}
.button-dropdown.active .drop {
    @extend %visibility-show;
    @extend %opacity-show;
}
.button-dropdown.active .drop > div {
    @extend %visibility-show;
    @extend %opacity-show;
    transform: translateY(0);
    -webkit-transform: translateY(0);
}
.button-dropdown.align-right .drop {
    left: initial;
    @extend %right-0;
}



