/* FORMS */

form {
    padding: 20px 0;
}

/* Default Inputs */
.input-default {
    @extend %no-outline;
    @extend %mini-border-radius;
    @extend %ease;
    @extend %border-input;
    @extend %color-dark-grey;
    @extend %font-size-16;
    @extend %full-width;
    margin-bottom: 18px;
    background: #fafbfb;
    height: 45px;
    padding: 0 10px;
}

.input-default:focus {
    @extend %color-off-black;
    @extend %bg-white;
    @extend %border-input-hover;
}

.input-default.small {
    @extend %font-size-14;
    height: 35px;
}
.input-wrap {
    margin-bottom: 28px;
}
.input-wrap .input-default {
    margin-bottom: 0;
}
.input-wrap .label,
.input-wrap label {
    @extend %font-size-13;
}

/* Errored inputs */
p.input-error {
    @extend %font-size-12;
    @extend %bold;
    line-height: 16px;
    color:#E34E4E;
    margin: 10px 0;
}
.input-default.error {
    border: 1px solid #E34E4E;
}
.input-wrap.error input {
    border: 1px solid #E34E4E;
}
.input-wrap input + p.input-error {
    @extend %no-display;
}
.input-wrap.error input + p.input-error {
    @extend %block;
}

/* Default labels */
label {
    @extend %block;
    @extend %demi-bold;
    @extend %font-size-13;
    @extend %full-width;
    margin-bottom: 11px;
}
label .req {
    @extend %bold;
    color: #E34E4E;
}

/* Default textareas */
textarea,
textarea.input-default {
    @extend %no-transition;
    min-height: 150px;
    padding: 12px;
}


/* Default selects */
.select-wrap select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.select-wrap {
    @extend %relative;
    @extend %inline-block;
}

.select-wrap:after {
    @extend %empty-content;
    @extend %absolute;
    top: 16px;
    right: 11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #363636 transparent transparent transparent;
}

/* Default Checkboxes */
input[type=checkbox] {
    @extend %no-display;
}
input[type=checkbox]:checked+.checkbox:after {
    @extend %opacity-show;
}
input[type=checkbox]:checked+.checkbox:before {
    @extend %bg-white;
    @extend %border-input-hover;
}
.check-wrap {
    @extend %relative;
}
.checkbox {
    @extend %relative;
    @extend %inline-block;
    @extend %hide-overflow;
    @extend %cursor-pointer;
    height: 45px;
    width: 45px;
    margin-bottom: 28px;
}
.checkbox:before {
    @extend %ease-mini;
    @extend %empty-content;
    @extend %absolute;
    @extend %mini-border-radius;
    @extend %top-0;
    @extend %left-0;
    @extend %full-width;
    @extend %full-height;
    @extend %border-input;
    background: #faf9f9;
    box-shadow: 0 1px 1px #dfecf4;
}
.checkbox:after {
    @extend %ease-mini;
    @extend %empty-content;
    @extend %absolute;
    @extend %top-50;
    @extend %left-50;
    @extend %opacity-hide;
    width: 50%;
    height: 20%;
    margin-top: -17%;
    margin-left: -23%;
    background: transparent;
    border: 2px solid #5182e5;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.checkbox:hover:before {
    @extend %bg-white;
}
.checkbox:active:before {
    @extend %bg-white;
}
.check-wrap .label {
    @extend %font-size-13;
    margin-bottom: 11px;
}
.checkbox.small {
    height: 26px;
    width: 26px;
}
.input-wrap .checkbox {
    margin-bottom: 0;
}
.checkbox.mini {
    height: 12px;
    width: 12px;
}
input[type=checkbox]:checked +.checkbox.mini:before, 
input[type=radio]:checked+.radio.mini:before {
    background-color: #5182e5;
} 
.checkbox.mini:after {
    width: 70%;
    height: 35%;
    margin-top: -8%;
    margin-left: -34%;
    top: 35%;
    border: 1px solid #fff;
    border-top: none;
    border-right: none;
}
   

/* Default radio buttons */
input[type=radio] {
    @extend %no-display;
}

input[type=radio]:checked+.radio:after{
    @extend %opacity-show;
}

input[type=radio]:checked+.radio:before {
    @extend %bg-white;
    @extend %border-input-hover;
}
.radio-wrap {
    @extend %relative;
}
.radio-wrap .label {
    @extend %inline-block;
    @extend %absolute;
    @extend %demi-bold;
    @extend %font-size-16;
    left: 60px;
    margin-bottom: 0;
    top: 14px;
}
.radio {
    @extend %relative;
    @extend %inline-block;
    @extend %hide-overflow;
    @extend %cursor-pointer;
    height: 45px;
    width: 45px;
    margin-bottom: 28px;
}
.radio:before {
    @extend %ease-mini;
    @extend %empty-content;
    @extend %absolute;
    @extend %mini-border-radius;
    @extend %top-0;
    @extend %left-0;
    @extend %full-width;
    @extend %full-height;
    @extend %border-input;
    background: #faf9f9;
    box-shadow: 0 1px 1px #dfecf4;
}
.radio:after {
    @extend %ease-mini;
    @extend %empty-content;
    @extend %absolute;
    @extend %full-width;
    @extend %full-height;
    @extend %top-50;
    @extend %left-50;
    @extend %opacity-hide;
    @extend %mini-border-radius;
    @extend %no-border;
    margin-top: -48%;
    margin-left: -49%;
    background-color: rgba(77,154,193,0.13);
}
.radio:hover:before {
    @extend %bg-white;
}
.radio:active:before {
    @extend %bg-white;
}
.radio.small {
    height: 26px;
    width: 26px;
}
.input-wrap .radio {
    margin-bottom: 0;
}
.radio-wrap .radio.small + p.label {
    @extend %font-size-14;
    @extend %no-margin;
    top: 7px;
    left: 38px;
}

/* Search inputs */
.search-wrap {
    @extend %relative;
}
.search-wrap input {
    @extend %no-margin;
}
.search-wrap .search-icon,
.search-wrap .close-icon {
    @extend %absolute;
    @extend %ease-mini;
    height: 16px;
    width: 16px;
    top: 16px;
    right: 9px;
    fill: #e0e0e0;
}
.search-wrap .search-icon {
    @extend %opacity-show;
    @extend %visibility-show;
}
.search-wrap .close-icon {
    @extend %opacity-hide;
    @extend %visibility-hide;
}

.search-wrap input:focus + .search-icon,
.search-wrap.active .search-icon {
    @extend %opacity-hide;
    @extend %visibility-hide;
}

.search-wrap.active .close-icon,
.search-wrap input:focus + .search-icon + .close-icon {
    @extend %opacity-show;
    @extend %visibility-show;
}

.search-wrap input.small + .search-icon,
.search-wrap input.small + .search-icon + .close-icon {
    top: 10px;
}

/* Form results */
.form-result {
    @extend %no-display;
}
.form-result .message {
    @extend %full-width;
    @extend %opacity-hide;
    @extend %no-display;
    margin-bottom: 0;
}

.form-result.error,
.form-result.success,
.form-result.alert,
.form-result.warning,
.form-result.info{
    @extend %block;
    padding: 20px 0;
}

.form-result.error .message.error {
    @extend %block;
    @extend %opacity-show;
}
.form-result.success .message.success {
    @extend %block;
     @extend %opacity-show;
}
.form-result.alert .message.alert {
    @extend %block;
    @extend %opacity-show;
}
.form-result.warning .message.warning {
    @extend %block;
    @extend %opacity-show;
}
.form-result.info .message.info {
    @extend %block;
    @extend %opacity-show;
}
