/* TABLES */
table thead th {
    font-weight: 500;
}

table {
    font-size: 13px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #DFE2E6;
    width: 100%;
}

table a:hover {
    color: #69d2c3;
    text-decoration: underline;
}

table td,table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
}

table.horizontal {
    border: none;
    color: #61676d;
}

table.horizontal thead tr,table.horizontal thead {
    background: rgba(97,103,109,0.05);
}

table.horizontal thead th {
    border-bottom: 2px solid rgba(97,103,109,0.15);
}

table.horizontal td,table.horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 2px solid #fff;
    padding: 1.4em 1em;
}

table.horizontal tr {
    background: rgba(181,188,188,0.07);
}

table.horizontal tbody tr:nth-child(even) {
    background: rgba(170,194,194,0.21);
}

table.horizontal tbody>tr:last-child>td {
    border-bottom-width: 0;
}

table thead th {
    padding: 1.1em 1em;
}
