/* TABS */
.tabs-wrap a:hover,.tabs-wrap a.active {
   @extend %color-off-black;
}

.tab-panel-wrap {
    @extend %relative;
}

.tabs-wrap a,.tab-panel.active {
    @extend %block;
}
.tab-panel.active {
    @extend %hide-overflow;
}

.tabs-wrap li {
    display: inline-block;
}

.tab-panel {
    display: none;
}

.tabs-wrap {
    margin-bottom: 20px;
}

.tabs-wrap li {
    padding: 0 16px 0 0;
}

.tabs-wrap a {
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
    font-size: 14px;
    padding: 15px 2px 13px 2px;
    border-bottom: 1px solid transparent;
    color: #bfbfbf;
    font-weight: 500;
}

.tabs-wrap a:hover {
    border-bottom: 2px solid #62c4b6;
}

.tabs-wrap a.active {
    border-bottom: 2px solid #62c4b6;
}
